/* =========================
   RESET & BASE
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f172a;
    color: #e2e8f0;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    padding: 25px;
}

/* =========================
   TYPOGRAPHY
========================= */
h1, h2, h3 {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
}

/*h1 {
    font-size: 3rem;
    position: relative;
    display: inline-block;
    color: #00FFFF;
    text-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF, 0 0 40px #00A8DD, 0 0 80px #00A8DD;
}*/

h1 {
    font-size: 3rem;
    position: relative;
    display: inline-block;
    color: #FFFFFF;
    text-shadow: 0 0 15px #00FFFF, 0 0 30px #00FFFF, 0 0 60px #00A8DD, 0 0 120px #00A8DD;
}


/*h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    border-left: 4px solid #00C8FF;
    padding-left: 10px;
    text-shadow: 0 0 10px #00F5F5, 0 0 20px #00F5F5, 0 0 40px #00A8DD, 0 0 80px #00A8DD;
}*/

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    border-left: 4px solid #00C8FF;
    padding-left: 10px;
    color: #00FFFF;
    text-shadow: 0 0 12px #00FFFF, 0 0 25px #00FFFF, 0 0 50px #00A8DD;
}


h3 {
    margin-bottom: 5px;
    text-shadow: 0 0 12px #00FFFF, 0 0 25px #00FFFF, 0 0 50px #00A8DD;
}

h4 {
    color: #00C8FF;
    margin-bottom: 10px;
}

/* =========================
   HEADER
========================= */
header {
    text-align: center;
    padding: 80px 20px;
    background: radial-gradient(circle at top, #1e293b, #020617);
}

    header p {
        color: #94a3b8;
    }

/* =========================
   MENU
========================= */

.menu {
    display: flex;
    gap: 25px; /* espace entre les items */
    list-style: none; /* retire les puces */
    align-items: center;
}

    .menu li {
        position: relative; /* nécessaire pour positionner le dropdown */
    }

/* =========================
   NAVBAR
========================= */
nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 15px;
    background: #020617;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #1e293b;
}

    nav a {
        color: #94a3b8;
        text-decoration: none;
        font-weight: 500;
        transition: 0.3s;
    }

        nav a:hover {
            color: #00C8FF;
        }

/* =========================
   SECTIONS
========================= */
section {
    max-width: 1100px;
    margin: auto;
    padding: 60px 20px;
}

/* =========================
   CARDS (PROJECTS)
========================= */
.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: all 0.3s ease;
    border: 1px solid transparent;
}

    /* Hover effect (gaming glow) */
    .card:hover {
        transform: translateY(-5px);
        border: 1px solid #00C8FF;
        box-shadow: 0 0 25px rgba(34, 197, 94, 0.3);
    }

/* =========================
   MEDIA (IMAGES & VIDEO)
========================= */
    .card img {
        width: 100%;
        border-radius: 10px;
        margin-top: 10px;
    }

iframe {
    width: 100%;
    height: 480px;
    border-radius: 10px;
    margin-top: 15px;
}

/* =========================
   LINKS (BUTTON STYLE)
========================= */
.card a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background: #00C8FF;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s;
}

    .card a:not(.btn-github):hover {
        background: #16a34a;
    }


/* =========================
   LINKS GIT (BUTTON STYLE)
========================= */
.btn-github {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.6em;
    padding: 0.7em 1.2em;
    color: #000;
    text-decoration: none;
    border-radius: 0.4em;
    font-weight: 600;
    background: linear-gradient(120deg, #00FFFF, #00A8DD, #00FFFF);
    background-size: 300% 300%;
    animation: waveGradient 4s ease infinite;
}

    .btn-github img {
        width: 1.3em;
        height: 1.3em;
        filter: invert(1);
    }

@keyframes waveGradient {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 100% 50%;
    }

    50% {
        background-position: -100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* =========================
   AUDIO SECTION
========================= */
.audio-card {
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

audio {
    width: 100%;
    margin-top: 10px;
}

/* =========================
   CONTACT
========================= */
#contact p {
    font-size: 1.1rem;
}

/* =========================
   FOOTER
========================= */
footer {
    text-align: center;
    padding: 30px;
    background: #020617;
    color: #64748b;
    margin-top: 40px;
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    iframe {
        height: 250px;
    }

    nav {
        flex-wrap: wrap;
        gap: 10px;
    }
}

/* =========================
   SEPERATOR
========================= */
.separator-animated {
    height: 3px;
    width: 65%;
    margin: 30px auto;
    background: linear-gradient(90deg, #00FFFF, #00A8DD, #00FFFF);
    background-size: 300% 300%;
    animation: waveLine 4s ease infinite;
    border-radius: 3px;
}

@keyframes waveLine {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.separator-animated-project{
    height: 3px;
    width: 100%;
    margin: 30px auto;
    background: linear-gradient(90deg, #00FFFF, #00A8DD, #00FFFF);
    background-size: 300% 300%;
    animation: waveLine 4s ease infinite;
    border-radius: 3px;
}

@keyframes waveLine {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* =========================
   DROPDOWN LIST
========================= */
/* Dropdown caché par défaut */
.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background: #111;
    border-radius: 6px;
    list-style: none;
    padding: 10px 0;
    min-width: max-content;
    display: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

    /* Items du dropdown */
    .dropdown-content li a {
        padding: 1px 30px;
        transition: background 0.2s;
        white-space: nowrap;
        color: #e2e8f0;
    }

        .dropdown-content li a:hover {
            background: rgba(0, 255, 255, 0.25); /* léger cyan, cohérent avec ton style */
        }

/* Affichage au survol */
.dropdown:hover .dropdown-content {
    display: block;
}

